<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Acerca de Nosotros</title>
</head>
<body>
    <h1>Acerca de Nosotros</h1>
    <p>
        Somos una empresa dedicada a brindar soluciones tecnológicas innovadoras. Nuestro equipo está formado por profesionales apasionados por la tecnología y el desarrollo de software.
    </p>
    <p>
        Nuestra misión es ayudar a nuestros clientes a alcanzar sus objetivos mediante el uso de herramientas digitales modernas y eficientes.
    </p>
    <a href="/">Volver al inicio</a>
</body>
</html>
