<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <a href="/about">Acerca de Nosotros</a>
        <a href="/acerca">Acerca de</a>

        <div class="container">
            <h1>Mi pagina de INICIO</h1>
            <div class="card">
                <h2>USUARIOS</h2>
                <p>{{datos.USUARIOS}}</p>
            </div>
            <div class="card">
                <h2>VENTAS</h2>
                <p>{{datos.VENTAS}}</p>
            </div>
            <div class="card">
                <h2>VISITAS</h2>
                <p>{{datos.VISITAS}}</p>
        </div>
    </body>